<head>
  <title>simple</title>
</head>

<body>
  <div class="container">
    <h1>Loaded InputBox with Selectize</h1>

  {{> test1}}

  <hr />

 <p> How I would like this logic to work: </p>
  <ol>
  <li>Enter Task [Press Enter] --> Loads Selectize Options and now asks for a Category</li>
  <li>This should have focus. When user types and finds a tag, then the user user needs a way to navigate back to the task input and unload selectize.</li>
  <li>I'm not tied to Selectize, the key is having the user submit a task, then a category tag from a list of options and then go back to submitting a task without loosing focus</li>
  </ol>
  </div>


</body>


<template name="test1">
<div class="container">
  <input type="text"
    id="ibox"
    placeholder="{{#if inputRole 'task'}}Enter Task {{/if}}{{#if inputRole 'category'}}Enter Category Tag (You should have selectize loaded now) {{/if}}" 
  /> 
</div>
</template>


<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="info">
  <h2>Learn Meteor!</h2>
  <ul>
    <li><a href="https://www.meteor.com/try">Do the Tutorial</a></li>
    <li><a href="http://guide.meteor.com">Follow the Guide</a></li>
    <li><a href="https://docs.meteor.com">Read the Docs</a></li>
    <li><a href="https://forums.meteor.com">Discussions</a></li>
  </ul>
</template>